langchain
langchain-community
langchain-core
langchain-classic
langchain-google-genai
langchain-huggingface
numpy
streamlit
PyPDF2
unstructured
nltk
sentence-transformers
faiss-cpu
python-docx
python-dotenv
ragas
datasets